# This snippet is from 
# @source http://stackoverflow.com/a/987162/2042871
# Ignore everything
*

# But not these files...
!.gitignore
!LICENSE
!mo
!README.md
!shellcheck-install.sh
!.travis.yml
!vinber-check.sh
!vinber.commit.authors
!vinber.conf.in
!vinber.deps
!vinber.sh

# Even if they are in subdirectories
**/


